<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Контакты</title>
    //= includes/head.html
  </head>
  <body class="d-flex">
    <div class="wrap d-flex flex-column">
      //= includes/nav.html
      <main class="content_full cont-4">
        <section class="">
          <div class="container">
            <div class="row gutter">
              <article class="col-md-6">
                <header>
                  <h1>Контакты</h1>
                </header>
                <section>
                  <h4>Адрес:</h4>
                  <p>Школьная улица, 2Б, деревня Летенец, Старобинский сельский совет, Солигорский район, Минская область, Беларусь</p>
                  <h4>Время работы:</h4>
                  <p>Круглосуточно</p>
                  <h4>Контактные телефоны:</h4>
                  <a href="tel:+375 29 3380964">+375 29 3380964</a> (Viber / Whats App)
                  <h4>Социальные сети:</h4>
                  <p>Нас так-же можно найти в социальных сетях</p>
                  <section class="social">
                    <div class="social-links d-flex">
                      <a href="#" class="mr-1">
                        <svg class="icon">
                          <use xlink:href="../img/sprites/sprite.svg#vk"></use>
                        </svg>
                      </a>
                      <a href="#" class="mr-1">
                        <svg class="icon">
                          <use xlink:href="../img/sprites/sprite.svg#ok"></use>
                        </svg>
                      </a>
                      <a href="#" class="mr-1">
                        <svg class="icon">
                          <use xlink:href="../img/sprites/sprite.svg#bk"></use>
                        </svg>
                      </a>
                    </div>
                  </section>
                </section>
              </article>
              <figure class="col-md-6 mt-3">
                <iframe class="ya-map img-shadow" src="https://yandex.by/map-widget/v1/-/CCefqR1b" allowfullscreen="true"></iframe>
              </figure>
            </div>
          </div>
        </section>
      </main>
      //= includes/footer.html
    </div>
    //= includes/scripts.html
  </body>
</html>