<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Об агроусадьбе</title>
    //= includes/head.html
  </head>
  <body class="d-flex">
    <div class="wrap d-flex flex-column">
      //= includes/nav.html
      <main class="content_full cont-4">
        <article class="container gutter">
          <header>
            <h1>Об агроусадьбе «Малиновка»</h1>
          </header>
          <section>
            <p>В 15 километрах от г. Солигорска (130 км. от г. Минска), в сосновом лесу на площади 2 Га расположена прекрасная агроусадьба «Малиновка».</p>
            <p>На территории усадьбы возведены дома для отдыха, выполненные из экологически-чистых материалов, шикарные банкетные залы на 20, 30, 50 человек, имеются 45 спальных мест. Нарядный белоснежный шатер, вместимостью до 150 человек, а также территория для торжественного выездного бракосочетания великолепно вписались в природный ансамбль соснового леса. Мы оказываем содействие в проведении прекрасных свадебных торжеств, юбилеев, выпускных вечеров, а также корпоративных мероприятий.</p>
            <h2>Активный отдых</h2>
            <p>Для активного отдыха нашим гостям предоставлена площадка для волейбола, пейнтбола, игры в дартс, теннис и бильярд. У нас организованы лучный, арбалетный, пневматический и пейнтбольный тиры, спортивное метание ножей и топоров. В каждом гостевом доме имеется кухня со всем необходимым инвентарем и посудой, музыка, светомузыка, караоке и танцпол. Нашим гостям мы любезно предоставляем мангалы, казаны, шампура и решетки, емкости для приготовления ухи и шурпы. Во всех наших домах предусмотрены русская банька на дровах, барбекюшницы, навесы и беседки, уютные места для очага и отдыха. Для эстетов, на территории усадьбы возведены баня из кедра и молодильный чан, подогреваемый открытым огнем.</p>
            <h2>Контактный зоопарк</h2>
            <p>У нас Вы сможете с ветерком покататься на лошадях верхом или с переливом звона бубенцов в упряжи. Очаровательные питомцы усадьбы не оставят равнодушными не одного нашего гостя. Лошадки и ослики, фазаны и цесарки, утки и куры, индюки, кролики и многие, многие другие питомцы нашего контактный зоопарк не дадут заскучать Вашим малышам.</p>
            <p>На детских площадках нашей усадьбы, всегда слышны только радостный смех и восторженные крики малышей.</p>
            <p>На просторах «Малиновки» всегда царит радость и доброта…</p>
          </section>
        </article>
      </main>
      //= includes/footer.html
    </div>
    //= includes/scripts.html
  </body>
</html>