<footer>
  <section class="cont-3">
    <div class="container">
      <div class="row gutter">
        <div class="col-sm-6 col-md-3">
          <h5>Меню</h5>
          <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Об агроусадьбе</a></li>
            <li><a href="#">Наши услуги</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h5>Адрес</h5>
          <p>Школьная улица, 2Б, деревня Летенец, Старобинский сельский совет, Солигорский район, Минская область, Беларусь</p>
          <p>
            GPS: 52.679232, 27.462271<br>
            <a href="https://yandex.by/maps/-/CCefqR1b" target="_blank">Показать на карте</a>
          </p>
        </div>
        <div class="col-sm-6 col-md-3">
          <h5>Контакты</h5>
          <p>
            <a href="tel:+375 29 3380964">+375 29 3380964</a>
            <br>(Viber / Whats App)
          </p>
          <section class="social">
            <div class="social-links d-flex">
              <a href="#" class="mr-1">
                <svg class="icon">
                  <use xlink:href="./img/sprites/sprite.svg#vk"></use>
                </svg>
              </a>
              <a href="#" class="mr-1">
                <svg class="icon">
                  <use xlink:href="./img/sprites/sprite.svg#ok"></use>
                </svg>
              </a>
              <a href="#" class="mr-1">
                <svg class="icon">
                  <use xlink:href="./img/sprites/sprite.svg#bk"></use>
                </svg>
              </a>
            </div>
          </section>
        </div>
        <div class="col-sm-6 col-md-3">
          <h5>Режим работы</h5>
          <p>Работаем круглосуточно</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
      <small>&copy; Агроусадьба МАЛИНОВКА, 2019</small>
  </div>
</footer>