<header class="header">
  <div class="header-wrap">
    <div class="header-content d-flex flex-column">
      <section class="container m-auto">
        <div class="row h-100">
          <figure class="m-auto col-md-6 d-flex flex-column gutter">
            <div class="flex_0"><img class="img-responsive" src="./img/logo2.png" alt=""></div>
          </figure>
          <article class="m-auto col-md-6 text-header d-flex flex-column">
            <div class="img-shadow">
              <header>
                <h2>Ваш лучший и незабываемый отдых</h2>
              </header>
              <section>
                <p>Республика Беларусь, Минская область, Солигорский район, Д. Летенец, ул. Школьная 2Б</p>
              </section>
              <section class="social">
                <div class="social-links d-flex justify-content-end">
                  <a href="#" class="ml-1">
                    <svg class="icon">
                      <use xlink:href="./img/sprites/sprite.svg#vk"></use>
                    </svg>
                  </a>
                  <a href="#" class="ml-1">
                    <svg class="icon">
                      <use xlink:href="./img/sprites/sprite.svg#ok"></use>
                    </svg>
                  </a>
                  <a href="#" class="ml-1">
                    <svg class="icon">
                      <use xlink:href="./img/sprites/sprite.svg#bk"></use>
                    </svg>
                  </a>
                </div>
              </section>
            </div>
            
          </article>
        </div>
      </section>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('./img/slider/img1.jpg');"></div>
      </div>
    </div>
  </div>
</header>