<section class="cont-1">
  <div class="container">
    <div class="row gutter">
      <figure class="col-md-5">
        <img class="img-responsive img-shadow" src="https://pp.userapi.com/c845019/v845019608/14c6a7/-jfhZm9cnoA.jpg" alt="">
      </figure>
      <article class="col-md-7">
        <header>
          <h1>Агроусадьба «Малиновка»</h1>
        </header>
        <section>
          <p>Добро пожаловать на просторы агроусадьбы «Малиновка»- место, где Вы окунетесь в безмятежный и незабываемый отдых. Именно здесь Вы забудете обо всех житейских проблемах, а матушка-природа нежно окутает Вас своими объятиями. В окружении вековых деревьев и под нежное пение птиц она вдохнет в Вас удивительно чистый воздух, зарядив бодростью и энергией.</p>
          <p>Именно здесь, друзья, в окружении соснового леса, начинается наше путешествие в сказку…</p>
        </section>
      </article>
    </div>
  </div>
</section>

<section class="cont-2">
  <article class="container gutter">
    <header>
      <h2>Агроусадьба «Малиновка»</h2>
    </header>
    <section>
      <p>В 15 километрах от г. Солигорска (130 км. от г. Минска), в сосновом лесу на площади 2 Га расположена прекрасная агроусадьба «Малиновка».</p>
      <p>На территории усадьбы возведены дома для отдыха, выполненные из экологически-чистых материалов, шикарные банкетные залы на 20, 30, 50 человек, имеются 45 спальных мест. Нарядный белоснежный шатер, вместимостью до 150 человек, а также территория для торжественного выездного бракосочетания великолепно вписались в природный ансамбль соснового леса. Мы оказываем содействие в проведении прекрасных свадебных торжеств, юбилеев, выпускных вечеров, а также корпоративных мероприятий.</p>
      <h3>Активный отдых</h3>
      <p>Для активного отдыха нашим гостям предоставлена площадка для волейбола, пейнтбола, игры в дартс, теннис и бильярд. У нас организованы лучный, арбалетный, пневматический и пейнтбольный тиры, спортивное метание ножей и топоров. В каждом гостевом доме имеется кухня со всем необходимым инвентарем и посудой, музыка, светомузыка, караоке и танцпол. Нашим гостям мы любезно предоставляем мангалы, казаны, шампура и решетки, емкости для приготовления ухи и шурпы. Во всех наших домах предусмотрены русская банька на дровах, барбекюшницы, навесы и беседки, уютные места для очага и отдыха. Для эстетов, на территории усадьбы возведены баня из кедра и молодильный чан, подогреваемый открытым огнем.</p>
      <h3>Контактный зоопарк</h3>
      <p>У нас Вы сможете с ветерком покататься на лошадях верхом или с переливом звона бубенцов в упряжи. Очаровательные питомцы усадьбы не оставят равнодушными не одного нашего гостя. Лошадки и ослики, фазаны и цесарки, утки и куры, индюки, кролики и многие, многие другие питомцы нашего контактный зоопарк не дадут заскучать Вашим малышам.</p>
      <p>На детских площадках нашей усадьбы, всегда слышны только радостный смех и восторженные крики малышей.</p>
      <p>На просторах «Малиновки» всегда царит радость и доброта…</p>
    </section>
  </article>
</section>

<section class="cont-3">
  <div class="container">
    <article class="row gutter">
      <header class="col-sm-7">
        <h2>Мы оказываем содействие в организации</h2>
      </header>
      <section class="col-sm-5">
        <ul>
          <li>Семейного отдыха</li>
          <li>Выпускных вечеров</li>
          <li>Свадебных торжеств</li>
          <li>Юбилеев</li>
          <li>Корпоративных мероприятий</li>
          <li>Конференций и много-много другого…</li>
        </ul>
      </section>
    </article>
  </div>
</section>

<section class="cont-3">
  <div class="container">
    <div class="row gutter">
      <article class="col-md-7">
        <header>
          <h2>Проведение торжественных мероприятий в «Малиновке»</h2>
        </header>
        <section>
          <p>Добро пожаловать на просторы агроусадьбы «Малиновка»- место, где Вы окунетесь в безмятежный и незабываемый отдых. Именно здесь Вы забудете обо всех житейских проблемах, а матушка-природа нежно окутает Вас своими объятиями. В окружении вековых деревьев и под нежное пение птиц она вдохнет в Вас удивительно чистый воздух, зарядив бодростью и энергией.</p>
          <p>Именно здесь, друзья, в окружении соснового леса, начинается наше путешествие в сказку…</p>
        </section>
      </article>
      <figure class="col-md-5">
        <img class="img-responsive img-shadow" src="img/party.jpg" alt="">
      </figure>
    </div>
  </div>
</section>

<section class="cont-5">
  <div class="container">
    <article class="row gutter">
      <header class="col-sm-12 mb-3">
        <h2 class="text-center">План-схема агроусадьбы «Малиновка»</h2>
      </header>
      <section class="col-sm-12">
        <img class="img-responsive img-width img-shadow" src="http://placehold.it/1200x400" alt="">
      </section>
    </article>
  </div>
</section>

<section class="cont-4">
  <div class="container">
    <article class="row gutter">
      <header class="col-sm-12 mb-3">
        <h2 class="text-center">Гостевые дома усадьбы «Малиновка»</h2>
      </header>
      <div class="col-sm-12">
        <figure class="card-group card-home text-center">
          <a href="" class="card">
            <img class="card-img-top" src="http://placehold.it/260x180" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </a>
          <a href="" class="card">
            <img class="card-img-top" src="http://placehold.it/260x180" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </a>
          <a href="" class="card">
            <img class="card-img-top" src="http://placehold.it/260x180" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </a>
        </figure>
      </div>
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-dark">Все варианты</button>
      </div>
    </article>
  </div>
</section>

<section class="sale">
  <div class="container">
    <article class="col text-center gutter">
      <header>
        <h2>Акция</h2>
      </header>
      <section>
        <p>При заказе любого из гостевых домов усадьбы «Малиновка» за сутки до заселения</p>
        <p>Скидка 40%</p>
      </section>
    </article>
  </div>
</section>
