<section class="navbar-dark bg-dark sticky-top">
  <nav class="container navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="./img/logo.png" class="img-responsive d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportContent">
      <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Об агроусадьбе</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Наши услуги
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Аренда гостевых домов</a>
        <a class="dropdown-item" href="#">Аренда бань</a>
        <a class="dropdown-item" href="#">Свадьба в малиновке</a>
        <a class="dropdown-item" href="#">Активный отдых</a>
        <a class="dropdown-item" href="#">Для детей и взрослых</a>
        <a class="dropdown-item" href="#">Аренда шатра</a>
        <a class="dropdown-item" href="#">Организация охоты</a>
        <a class="dropdown-item" href="#">Организация рыбалки</a>
        <a class="dropdown-item" href="#">Трансфер</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Контакты</a>
      </li>
      </ul>
      <span class="navbar-text">
      <address>Солигорский р-он, д. Летенец</address>
      <a href="tel:+375 29 3380964">+375 29 3380964</a>
      </span>
    </div>
  </nav>
</section>