<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Агроусадьба «Малиновка»</title>
    //= includes/head.html
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
  </head>
  <body class="d-flex">
    <div class="wrap d-flex flex-column">
      //= includes/nav.html
      //= includes/header.html
      <main class="content_full">
        //= includes/main.html
      </main>
      //= includes/footer.html
    </div>
    //= includes/scripts.html
  </body>
</html>